/* Kontakt */

.s4 {
  /* background-color: rgb(9, 59, 20); */
  min-height: 90vh;
}

div.fotoContact {
  height: 400px;
  width: 100%;
  background-image: url(../images/kontakt1.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

div.contactDown {
  position: relative;
  display: flex;
  flex-grow: 1;
  /* flex-wrap: wrap; */
  justify-content: space-around;
  align-content: space-around;
  flex-direction: row;
  /* height: 550px; */
}
div.contactDown div.contaktText {
  position: relative;
  flex-basis: 15%;
  display: block;
}
div.contactDown div.contaktText h1 {
  position: absolute;
  top: 52%;
  left: -135%;
  width: 470px;
  transform: rotate(-90deg);
  display: block;
  font-family: "Major Mono Display", monospace;
  border-bottom: 2px solid black;
  font-size: 4rem;
  text-align: right;
}
div.contactDown div.data {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  flex-basis: 50%;
  margin: 50px;
  display: block;
}
div.adress {
  display: flex;
  flex-basis: 40%;
  margin-top: 50px;
}
div.adressIcon i {
  font-size: 2rem;
  margin-right: 30px;
}
div.adressText h3 {
  font-size: 2rem;
  margin-bottom: 5px;
}
div.adressText p {
  font-size: 1.5rem;
  padding: 2px;
}
div.tel {
  display: flex;
  flex-basis: 15%;
  margin-top: 100px;
}
div.telIcon i {
  font-size: 2rem;
  margin-right: 30px;
}
div.telText p {
  font-size: 1.5rem;
  padding: 2px;
}
div.mail {
  display: flex;
  flex-basis: 45%;
  margin-top: 50px;
}
div.mailIcon i {
  font-size: 2rem;
  margin-right: 30px;
}
div.mailText {
  font-size: 1.5rem;
  padding: 2px;
}
div div.contactDown div.form {
  position: relative;
  flex-basis: 35%;
}
div.form h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 4rem;
  margin-top: 50px;
  margin-left: 20px;
}
form {
  width: 80%;
}
div.form input {
  display: inline-block;
  width: 100%;
  height: 25px;
  margin: 15px;
  padding-left: 15px;
  background-color: transparent;
  border: 1px solid rgb(120, 118, 119);
}
.btn {
  padding-left: 30px;
  font-size: 1.5rem;
}
#files {
  border: none;
}
div.form textarea {
  width: 100%;
  height: 50px;
  margin: 15px;
  padding: 15px;
  background-color: transparent;
  border: 1px solid rgb(120, 118, 119);
}
div.form button {
  margin: 15px 0 15px 100px;
  cursor: pointer;
  width: 50%;
  height: 30px;
}
div.form button:hover {
  background-color: rgb(120, 118, 119);
  font-size: 1.6rem;
}

@media (max-width: 823px) {
  div.contactDown {
    flex-direction: column;
  }

  div.contactDown div.contaktText h1 {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: rotate(0deg);
    margin: 20px 20px;
    padding: 0 40px;
  }
}
@media (max-width: 411px) {
  div.contactDown div.contaktText h1 {
    font-size: 3rem;
  }
}
